@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

button {
  all: unset;
}

.PopoverTrigger {
  display: inline-flex;
  height: 35px;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}

.PopoverTrigger:hover {
  cursor: pointer;
  background-color: var(--mauve-3);
}

.PopoverTrigger:focus {
  box-shadow: 0 0 0 2px var(--violet-11);
}